<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   
    <title>{% block title %} Store {% endblock %}</title>
</head>

<body>
    <header>
        <div class="header-logo">
            <h1>Brand<br>HouseSV</h1>
        </div>
        <div class="header-title">
           
            
        </div>
        
        <div class="additional-buttons">
            <button>Доставка и оплата</button>
            <button>Где мой заказ</button>
            <button>Возврат товара</button>
            <button>О компании</button>
            <button>Контакты</button>
        </div>
        <nav>
              <div class="search-container">
                <button class="search-button" id="search-btn">
                    <img src="{{ url_for('static', filename='images/search.png') }}" alt="Поиск" />
                </button>
                <input type="text" id="search-input" placeholder="Поиск..." aria-label="Поиск" style="display: none;"> 
            </div>
        </div>
            <div class="shopping-cart">
                <a href="/cart">
                    <img src="{{ url_for('static', filename='images/cart.png') }}" alt="Сart" />
                    <span id="cart-count">0</span>
                </a>
            </div>

            <a href="{{url_for('main.index')}}">
               <img src="{{ url_for('static', filename='images/home.png') }}" alt="Home" />
        </a>
            {% if current_user.is_authenticated %}

            <a href="{{ url_for('main.dashboard') }}">
               <img src="{{ url_for('static', filename='images/account.png') }}" alt="Аккаунт" />
        </a>
            <a href="{{url_for('auth.logout')}}">Logout</a>
            {% else %}
            <a href="{{url_for('auth.login')}}">
             <img src="{{ url_for('static', filename='images/login.png') }}" alt="Logout" />
        </a>
        
            <a href="{{url_for('auth.register')}}">
            <img src="{{ url_for('static', filename='images/registr.png') }}" alt="Register" />
        </a>
            {% endif %}
        </nav>
    </header>
  


</body>

</html>