<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/base.css">
    <title>Динамическое обновление</title>
    <style>
        #user-list {
            list-style-type: none;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1>Mozilla is cool</h1>
    <img src="images/firefox-icon.png" alt="The Firefox logo: a flaming fox surrounding the Earth.">

    <h2>Список пользователей</h2>
    <ul id="user-list"></ul> <!-- Удалили статические элементы -->
    <button id="load-users">Загрузить пользователей</button>

     <script src="static/script.js"></script>
</body>
</html>